body {
    background-color: #f8f9fa;
}

h1 {
    font-weight: bold;
}

.card {
    border-radius: 12px;
}

.done {
    text-decoration: line-through;
    color: gray;
}

.nav-link {
    cursor: pointer;
}

body.dark {
    background-color: #121212 !important;
    color: #f1f1f1;
}

body.dark .card {
    background-color: #1e1e1e;
    color: white;
}

body.dark .list-group-item {
    background-color: #2a2a2a;
    color: white;
}

body.dark input {
    background-color: #333;
    color: white;
    border: 1px solid #555;
}

body.dark .nav-tabs .nav-link {
    color: #ccc;
}

body.dark .nav-tabs .nav-link.active {
    background-color: #333;
    color: white;
}